  
    <div id="footer" class="bg-dark text-light">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p class="mb-0"><strong>Jade CMS</strong> with <a href="https://getbootstrap.com">Bootstrap 4</a> by <a href="https://huntdesignco.com">Hunt Design Co</a></p>
          </div>
        </div>
      </div>
    </div>

  </wrapper>
  
  {{ load_js_assets() }}

</body>
</html>
