<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ page_title }}</title>
  <meta name="description" content="Jade CMS">
  <meta name="author" content="William Hunt">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

  {{ load_css_assets() }}

</head>

<body>
  <wrapper class="d-flex flex-column">

