  <main role="main" class="flex-fill mt-4">
    <div class="container">
      <div class="row mt-4">
        <div class="col-12">
          <h2>Contact Us</h2>
          <hr>
          <p>Feel free to leave some feedback using the form below.</p>
          <form>
            <div class="form-group">
              <input type="email" class="form-control" id="email" placeholder="Email*">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="full-name" placeholder="Full Name*">
            </div>
            <div class="form-group">
              <label for="feedback">Feedback</label>
              <textarea class="form-control" id="feedback" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </main>